*,
*:after,
*:before {
  box-sizing: border-box;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

html {
  font-size: 10px;
}

.content {
  width: 1600px;
  margin: 0 auto;
  padding-top: 128px;
  min-height: calc(100vh - 84px);
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

figure {
  margin: 0px;
}
