.block-with-image {
  height: 408px;
  border-top: 4px solid #fcba50;
  border-bottom: 4px solid #fcba50;
  background: url(../images/orange.png) no-repeat;
  background-size: cover;
}

.block-with-image .wrapper {
  position: relative;
  height: 100%;
}

.description-block {
  box-shadow: 0 1px #f2f2f2, 0 1px #f7f7f7, 0 1px #fbfbfb;
}

.text-column {
  width: 25%;
  float: left;
  font-family: 'Calibri', sans-serif;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  padding: 30px 20px 25px 22px;
}

.read-more-link {
  float: right;
  font-family: 'Calibri', sans-serif;
  font-style: italic;
  font-weight: 600;
  color: #ffb83f;
  text-decoration: none;
  font-size: 17px;
}

.team-block {
  padding-top: 16px;
}

.team-item {
  float: left;
  width: 312px;
}

.team-item figcaption {
  font-size: 22px;
  font-family: 'Calibri', sans-serif;
  color: #fb9c06;

}

.team-item__name {
  color: #6e6d6b;
}

.team-item__photo {
  background-image: url(../images/horse.jpg);
  width: 312px;
  height: 312px;
  border-radius: 50%;
  border: 9px solid #ffb540;
  background-position: center center;
  background-size: cover;
}
